doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='format-detection', content='telephone=no')
    title Boilerplate
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    script(src='js/client.js')
    if DEBUG
      script(src='http://localhost:35729/livereload.js')
  body
    h1 Boilerplate
    .app
